[Unit]
Description=EMSN Sonar SD Backup Timer - Dagelijks 02:00

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
