[Unit]
Description=EMSN Sonar BattyBirdNET Bavaria PostgreSQL Sync Timer - Elk uur op :20

[Timer]
OnCalendar=*-*-* *:20:00
Persistent=true

[Install]
WantedBy=timers.target
